@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}


:root{
    --header-height: 72px;
    --main-height: calc(100vh - var(--header-height));
}


.keyboard-focus {
    @apply outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-blue-300 rounded
}